<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>

	<table>
  <tr>
    <th>ID:</th>
    <th>IP</th>
    <th>Connect At</th>

  </tr>
<% for (var key in devices) { %>

  <tr>
    <td><%= key %></td>
    <td><%- devices[key].ip %></td> 
    <td><%- devices[key].connect_at %></td> 
  </tr>
<% } %>
</table>

</body>
</html>